[project]
name = "torchdire"
version = "0.1.15"
description = "A PyTorch-based library with YAML automation"
readme = "README.md"
requires-python = ">=3.8"
dependencies = [
    "torch",
    "tqdm",
    "numpy",
    "matplotlib",
    "seaborn",
    "pandas",
    "torchvision",
    "onnx",
    "onnxruntime",
    "onnxruntime-tools",
    "timm"
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Topic :: Scientific/Engineering :: Artificial Intelligence"
]

keywords = ["pytorch", "deep learning", "automation", "yaml"]

authors = [
    { name = "Boopathi Raj", email = "rajboopathiking@gmail.com" }
]

[project.optional-dependencies]
dev = [
    "pytest",
    "pytest-cov",
    "flake8",
    "mypy",
    "black"
]

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"
